.navbar-toggler {
    background-color: #211c1e;
    border: none;
}

.top-row {
    height: 3.5rem;
    background-color: #161314;
}

.navbar-brand {
    font-size: 1.1rem;
}

.nav-item ::deep a {
    color: #948b89;
    border-radius: 6px;
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-weight: 500;
    transition: background-color 0.15s ease, color 0.15s ease;
}

.nav-item ::deep a.active {
    background-color: #211c1e;
    color: #e5dcd9;
}

.nav-item ::deep a:hover:not(.active) {
    background-color: #211c1e;
    color: #e5dcd9;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }
    
    .nav-scrollable {
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
